bin/
forks/
.idea/
target/
demo/
pkg/
vendor/
.idea/
.vagrant/
*zip
*gz
*iso
*.box
*.iml
*.log
terraform.state*
dist/
./coverage

=======
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
*.iml
bin/
vendor/src/
.idea/
ansible.log
aws.credentials
*.pem
.galaxy_install_info
sshkey*
dist/*
*json.backup/
docker/resources/
nohup.out
*.retry
*split.gz_*
*box_*